@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,400;0,500;1,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Source+Code+Pro:wght@200&family=Ubuntu:ital,wght@0,400;0,500;1,300;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}
.main {
    /* background-color: goldenrod; */
    width: 90vw;
    font-family: "Gentium Book Plus", serif;
    font-family: "Ubuntu", sans-serif;
  }
  .container {
    display: flex;
  }
.sidebar {
  background-color: silver;
  width: 160px;
  font-family: "Gentium Book Plus", serif;
  font-family: "Ubuntu", sans-serif;
  height: 150vh;
  text-align: left;
  padding: 15px;
  /* font-size: 3.5vmin; */
}
.sidebar nav {
  padding-left: none;
  /* font-size: 3vmin */
}
.sidebar nav li {
  list-style: none;
  /* font-size: vmin */
  padding: 30px 5px;
}
.sidebar nav li a {
  text-decoration: none;
  color: black;
}
.blogitem{
    font-family: "Gentium Book Plus", serif;
    font-family: "Ubuntu", sans-serif;
    margin:0 10px;


}
.blogcontainer h1{
    font-family: "Source Code Pro", monospace; 
    margin:20px;
}
.blogcontainer p{
    font-family: "Source Code Pro", monospace; 
}
.btn-blog{
    border-radius: 7px;
    color: black;
    background-color: antiquewhite;
    font-size: 10px;
    border: none;
    font-weight: bold;
    padding: 7px 12px;
    margin: 0 5px;
    cursor: pointer;
}
.btn-blog:hover{
    background-color: black;
    color: antiquewhite;
}
footer{
  background-color: aquamarine;
  text-align: center;
  position: fixed; 
  bottom: 0; 
  width: 100% 

}